@import url("https://fonts.googleapis.com/css?family=Poppins:500,700,600,400|Istok+Web:700");

.img-logo {
    height: 73px;
    width: 73px;
    padding-top: 15px;
    padding-left: 15px;
}

.company-logo-1 {
    letter-spacing: 0;
    line-height: 28px;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
}

a {
    color: white !important;
  }  

.search-icon {
    height: 58px;
    width: 58px;
    margin-top: 21px;
}

.color-nav {
    background-color: rgba(0, 92, 102, 1);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    background-image: url(./assets/background-photo.png);
    background-repeat: no-repeat;
    background-position: right ;
    height: 792px;
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #21B870;
}

.color-dropdown {
    background-color: rgba(0, 158, 153, 0.85) !important;
}

.navbar {
    padding: 0 !important;
}

.navegador {
    background-color: transparent;
}

.title1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0;
    width: 550px;
    z-index: 2;
    padding-top: 150px;
    padding-bottom: 50px;
}

.items-1 {
    letter-spacing: 0;
    transform: rotate(-180deg);
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 25px;
}

.rectangle-1 {
    width: 725px;
    height: 100px;
    padding-left: 90px;
}

.rectangle-1-1 {
    width: 725px;
    height: 100px;
    padding-left: 90px;
}

.rectangle-1-2 {
    background: linear-gradient(180deg, rgb(0,185.94,180.05)0%, rgb(0,125.05,127.5)100%);
    width: 286px;
    height: 81px;
    border-radius: 3px;
    transform: rotate(-180deg);
    margin-left: 15px;
}

.button-plus-1 {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    padding: 0;
    background-color: #00BE5E;;
    color: #FFF;
    font-size: 22px;
    border: none;
    text-align: center;
    line-height: 46px;
    margin-left: 90px;
}

.text-button-plus-1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 15px;
    padding-top: 10px;
}

.rectangle-2 {
    background-color: rgba(241, 241, 241, 1);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 301px;
}

.paragraph {
    color: #005C66;
    font-size: 28px;
    letter-spacing: 0;
    font-family: Poppins;
    line-height: 44px;
    min-height: 88px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    width: 1000px;
}

.rectangle-3 {
    background-color: white;
    margin: 0;
    padding: 0;
}

.title2 {
    color: #005C66;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 20px;
    margin-top: 75px;
}

.paragraph2 {
    color: #858585;
    text-align: center;
    font-family: Poppins;
    letter-spacing: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 542px;
    margin-bottom: 49px;
}

.image1 {
    height: 390px;
    width: 390px;
    margin-left: 150px;
}

.button-category-1 {
    padding: 15px 32px;
    gap: 10px;
    border-radius: 100px;
    background: #007D80;
    color: #FFF;
    border: none;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.button-category-2 {
    padding: 15px 32px;
    gap: 10px;
    border-radius: 100px;
    background: white;
    color: #007D80;
    border-color: #007D80;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 16px;
    margin-bottom: 20px;
}

.items-2 {
    color: #007D80;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    margin: 0;
    margin-left: 30px;
}

.line {
    width: 220px;
    height: 4px;
    background: linear-gradient(260deg, #00BAB4 0%, #007D80 100%);
}

.rectangle-3-1 {
    width: 500px;
    height: 300px;
}

.button-plus-2 {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    padding: 0;
    background-color: #00BE5E;;
    color: #FFF;
    font-size: 22px;
    border: none;
    text-align: center;
    line-height: 46px;
}

.text-button-plus-2 {
    color:  #00BE5E;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 13px;
    margin-left: 13px;
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #00BE5E;
}

.carousel-image {
    width: 400px;
    height: 226px;
}

.carousel-indicators {
    margin-top: 50px;
    position: absolute;
    top: 250px;
}

.carousel {
    margin-bottom: 100px;
}

.legend {
    background-color: #007D80;
    margin: 0;
    width: 400px;
    color: #FFF;
    padding: 10px;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: space-around;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

footer {
    background-color: #005C66;
}

.logo-2 {
    height: 73px;
    width: 73px;
}

.group-logo {
    align-items: center;
    display: flex;
    gap: 11px;
    padding-bottom: 200px;
}

.company-logo-2 {
    letter-spacing: 0;
    line-height: 28px;
    margin-top: 1px;
    min-height: 56px;
    min-width: 110px;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    color: white;
}

.title-link {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    margin-top: 45px;
}

.title-footer {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    margin-top: 50px;
}

.text-footer {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 29px;
}

.links-footer {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-decoration: none;
}

.social-media {
    margin-top: 29px;
    margin-left: -20px;
}

.policy {
    margin-top: 50px;
    color: #00DAD3;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
}

.brand {
    margin-top: 50px;
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.background-photo-2 {
    display: none;
}

.search-icon-1 {
    display: none;
}

@media (max-width: 350px) {
    .img-logo, .company-logo-1 {
        display: none;
    }

    
    .color-nav {
        background-image: none;
    }
    
    .navegador {
        background-color: #00BE5E;
        position: fixed;
        top: 0;
    }
    
    .custom-toggler.navbar-toggler {
        border: none;
    }
    
    .navbar .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-toggler {
        order: -1;
    }
    
    .background-photo-2 {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        height: 50vh;
        margin-top: 70px;
    }
    
    .title1 {
        font-size: 32px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        padding: 0;
    }
    
    .rectangle-1 {
        display: none;
    }

    .rectangle-1-2 {
        flex: 0 0 90%;
        margin-bottom: 15px;
    }

    .btn-plus-1 {
        padding-top: 115px;
    }

    .button-plus-1 {
        margin-left: 15px;
    }

    .rectangle-2 {
        height: 400px;
    }

    .paragraph {
        font-size: 24px;
    }

    .images {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image1 {
        height: 240px;
        width: 240px;
        margin-left: 0;
    }

    .button-category-2 {
        margin-left: 5px;
        margin-bottom: 20px;
    }

    .btn-categories {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .items-3 {
        margin-left: 15px;
    }

    .btn-plus-2 {
        margin-top: 70px;
        margin-left: 30px;
    }

    .title2 {
        font-size: 32px;
    }

    .group-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        padding-top: 50px;
    }

    .title-footer {
        margin-top: 40px;
    }

    .title-link {
        margin-top: 40px;
        margin-bottom: -20px;
    }

    .policy {
        margin-top: 38px;
    }
    
    .brand {
        margin-top: 38px;
        margin-bottom: 50px;
    }

    .search-icon {
        display: none;
    }

    .btn-1 {
        margin-left: auto;
        margin-right: 0; 
    }
    
    .search-icon-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 58px;
        width: 58px;
    }

    /* navbar */
    .navbar-collapse {
        background-color: rgba(0, 158, 153, 0.90);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .navbar-toggler,
    .navbar-brand {
        z-index: 1;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
    
    .navbar-collapse .nav-item {
        padding: 0.2em 5em;
    }

    .navbar-collapse .nav-link:hover,
    .navbar-collapse .nav-link:active {
        border-bottom: 4px solid rgba(33, 184, 112, 1);
    }

    .navbar-collapse.show {
        transition: all 0.5s;
    }

    .color-dropdown {
        background-color: transparent !important;
    }
}